@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f172a;
  color: white;
  font-family: var(--font-sans);
}

